init.author.name = Aleksandr Andreev
init.author.email = andreev@reksoft.ru
email=andreev@reksoft.ru
_auth=YWFuZHJlZXY6MTl3c3l0dTkx
always-auth=true
registry=http://repo.fxdd.com/nexus/content/groups/npm-all
